.ratting h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 5px;
}
.clients_card p {
  color: #000000b2;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}

.client_img {
  text-align: center;
}

.clients_card .card-body {
  text-align: center;
}

p.icon_content {
  text-align: left;
}

.clients_card .card-body p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(0 0 0 / 70%);
}
.card.clients_card {
  box-shadow: 0px 4px 20px 0px #0000002e;
  border: 0;
  padding: 15px;
  position: relative;
}
.card.clients_card p.icon_content {
  text-align: left !important;
}
.card.clients_card p.icon_content h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.card.clients_card img.top_layer {
  position: absolute;
  top: -50px;
  right: -40px;
}
.card.clients_card img.bottom_layer {
  position: absolute;
  left: -45px;
  bottom: -50px;
}
.card.clients_card .boxs {
  position: relative;
  z-index: 99999;
}
.card.clients_card {
  max-width: 320px;
}
