.nav_outer a:hover {
  color: #1f4565;
  text-decoration: none;
}
.nav_outer .menu_item {
  text-decoration: none;
  margin-right: 45px;
}
nav.nav_outer {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 0 !important;
}
.navbar-brand img {
  max-width: 64px;
}
.nav_outer .menu_item span {
  display: flex;
  align-items: center;
}
.nav_outer .menu_item span img {
  margin-right: 5px;
}
header span.user_icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  background: #fff;
  margin-right: 15px;
  border-radius: 50%;
}
header button.btn.btn-primary {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  border-radius: 30px;
  border: 1px solid rgba(237, 37, 125, 0.8);
  background: #ed257d;
  padding: 6px 10.41px;
}
.center_menu {
  display: flex;
  align-items: center;
}
